<div class="wrapper">
    <div class="d-flex justify-content-end">
        <button class="btn btn-dark" (click)="checkStart()">Start</button>
    </div>

    <div class="workFlow shadow">

        <vflow [background]="{type: 'dots'}" [minZoom]="1" [maxZoom]="1" view="auto" [nodes]="node" [edges]="edges"
            (onConnect)="createEdge($event)" (onEdgesChange.add)="handleEdgesAddChange($event)">

            <ng-template id="y" let-ctx nodeHtml>

                @if(ctx.node.data.default === 'perfecto'){
                <div class="prueba">
                    <label>Recibido</label>
                    <input type="text" [(ngModel)]="ctx.node.data.value"
                        (ngModelChange)="onNodeValueChange( ctx.node.data.value)">
                        @if(this.prueba){
                        <button class="btn btn-dark sm mt-2">Ready?</button>
                        }@else {
                        <button class="btn btn-secondary btn-sm mt-2" disabled>Ready?</button>
                        }
                        
                </div>
                <handle type="source" position="right" />
                }
                @if(ctx.node.data.default === 'hola'){
                <div class="prueba">
                    <label>hola esto es una prueba</label>
                    @if(this.msg){
                        <p>😂</p>
                    }
                    <input value={{this.msg}}>
                </div>
                <handle type="target" position="left" />
                <handle type="source" position="right" />
                <node-toolbar>
                    <button>Delete</button>
                </node-toolbar>
                }



            </ng-template>





        </vflow>


    </div>