<div class="wrapper">
    <div class="d-flex justify-content-end">
        <button class="btn btn-dark" (click)="checkStart()" data-bs-target="#contractModal" data-bs-toggle="modal">Start</button>
    </div>

    <div class="workFlow shadow">
        <vflow [background]="{type: 'dots'}" [minZoom]="1" [maxZoom]="1" view="auto" [nodes]="node" [edges]="edges"
            >
            <ng-template let-ctx edge>
                <svg:g customTemplateEdge >
                    @if(this.enable){
                        <svg:path class="animated-edge" fill="none" [attr.d]="ctx.path()" [attr.stroke-width]="2"
                [attr.stroke]="'black'" [attr.marker-end]="ctx.markerEnd()" />
                    }@else{
                      <svg:path  fill="none" [attr.d]="ctx.path()" [attr.stroke-width]="2"
                [attr.stroke]="'black'" [attr.marker-end]="ctx.markerEnd()" />  
                    }
                    
                </svg:g>
            </ng-template>
            <ng-template let-ctx nodeHtml>
                @if(ctx.node.data.default === 'home' ){
                <app-home-component [ctx]="ctx" ></app-home-component>
                }
                @if(ctx.node.data.default === 'contract' ){
                <app-contract-list-component [ctx]="ctx" [button]="this.childInformation"  ></app-contract-list-component>
                }
                 @if(ctx.node.data.default === 'endContract' ){
                <app-end-contract [ctx]="ctx"></app-end-contract>
                }
            </ng-template>
           
        </vflow>
    </div>