.nodeStyle {
  position: relative;
  background-color: #f8f9fa;
  border:2px solid#2a2c29;;
  border-radius: 16px;
  padding: 20px;
  width: 150px;
  height:100%;
  
}

.nodeStyleSuccess{
 
  position: relative;
  background-color: #f8f9fa;
  border:2px solid#3bba11;;
  border-radius: 16px;
  padding: 20px;
  width: 150px;
  height:100%;
  

}
.node-header{
 padding-top:10px;
  display:flex;
  justify-content:center;
  gap:8px;
  
}

.view-button{
  margin-top:30px;
  margin-left:30px;
  border: 1px solid transparent;
  border-radius:6px;
  background-color:#84a3ab;
}



